.ProcedureTer {
  :global(div.ant-form-item) {
    margin-bottom: 8px !important;
  }
  width: 100%;
}

.fixedHeader {
  margin-bottom: 20px;
}

.careplansection {
  :global(.ant-checkbox-group-item) {
    width: 100%;

    // margin-top: 30px;
    margin-bottom: 50px;
  }
}
